/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgba(17, 17, 10, 0.744);
  background-image: url("https://t4.ftcdn.net/jpg/01/13/65/71/360_F_113657105_Bktota7BzQ5cEUcZb4l0D4qSD2Sw08P2.jpg");
  background-blend-mode: color-burn;
  background-size: cover;
}

h1.fitness-club-registration {
  text-align: center;
  font-style: var(-webkit-text-fill-color);
  font-size: 48px;
  font-weight: bold;
  color: rgb(35, 190, 7);
  margin: 40px 0px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px hsl(0, 0%, 3%);
  background-image: linear-gradient(to right, #7807ea, #6666e1);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}



form {
  display: inline-block;
  background-color: aliceblue;
  opacity: 70%;
  text-align: left;
  padding: 50px;
  box-shadow: 0 0 10px lightgray;
  border-radius: 25px;
  margin-top: 50px;
  width: 30%;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 0 5px lightgray;
  border-radius: 20px;
}

/* button {
  width: 60%;
  height: 40px;
  text-align: center;
  background-color: green;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px darkgreen;
  cursor: grab;
  margin-left: 25%;
} */

button.add-member {
  width: 60%;
  height: 40px;
  text-align: center;
  background-color: green;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 5px darkgreen;
  cursor: grab;
  margin-left: 22%;
  margin-top: 7%;
}

button.view-member-list {
  width: 70%;
  height: 40px;
  background-color: rgb(4, 97, 168);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(109, 109, 224);
  cursor: pointer;
  margin-top: 1%;
}

.success-message {
  width:40%;
  margin-left: 29%;
  margin-top: 20px;
  font-size: 18px;
  color: rgb(2, 67, 2);
  background-color: antiquewhite;
  font-style: bold;
  border-radius: 10px;
  padding: 10px;
}

table {
  margin: auto;
  margin-top: 10px;
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  background-color: white;
  opacity: 75%;
  
}

th,
td {
  border: 1px solid gray;
  padding: 10px;
}

th {
  background-color: lightgray;
}





